//variables
* {
    margin: 0;
    padding: 1;
    font-family: $fontMain;
    font-size: $fontSizeSmall;
}

$bg-dark: #474747;
$bg-info: orangered;
$bg-success: green;
$w-25:25%;
$w-50:50%;
$w-100:100%;
$d-flex: flex;
$d-block: block;
$menu-color:red;
$menu-animation-color:orangered;
$clear-color:white;
$info-color:darkslategray;
$text-color:orangered;