@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,wght@1,600&display=swap');
//fonts
$fontMain: 'Bodoni Moda',
serif;
$fontSizeHtml: 100%;
$fontSizeSmall: 2rem;
$fontSizeMedium: 4rem;
$fontSizeBig: 6rem;
$fontSizeGiant: 8rem;